{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Ubicaciones</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ubicacion in ubicacions %}
            <tr>
                <td><a href="{{ path('ubicacion_show', { 'id': ubicacion.id }) }}">{{ ubicacion.descripcion }}</a></td>
                <td>
                    <ul>
                        <li class="btn boton_crear">
                            <a href="{{ path('ubicacion_show', { 'id': ubicacion.id }) }}">Ver</a>
                        </li>
                        <li class="btn boton_crear">
                            <a href="{{ path('ubicacion_edit', { 'id': ubicacion.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn boton_crear" href="{{ path('ubicacion_new') }}">Crear Nuevo</a>
{% endblock %}
