{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Cpus</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cpu in cpus %}
            <tr>
                <td><a href="{{ path('cpu_show', { 'id': cpu.id }) }}">{{ cpu.marca }}</a></td>
                <td>{{ cpu.modelo }}</td>
                <td>{{ cpu.serial }}</td>
                <td>
                    <ul>
                        <li class="glyphicon glyphicon-zoom-in btn boton_comun">
                            <a  href="{{ path('cpu_show', { 'id': cpu.id }) }}">Ver</a>
                        </li>
                        <li class="glyphicon glyphicon-pencil btn boton_comun">
                            <a  href="{{ path('cpu_edit', { 'id': cpu.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="btn boton_crear">
            <a href="{{ path('cpu_new') }}">Crear Nuevo</a>
    </ul>
{% endblock %}
