{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cpus list</h1>

    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cpu in cpus %}
            <tr>
                <td><a href="{{ path('cpu_show', { 'id': cpu.id }) }}">{{ cpu.marca }}</a></td>
                <td>{{ cpu.modelo }}</td>
                <td>{{ cpu.serial }}</td>
                <td>{{ cpu.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cpu_show', { 'id': cpu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cpu_edit', { 'id': cpu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cpu_new') }}">Create a new cpu</a>
        </li>
    </ul>
{% endblock %}
