{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cpu</h1>

    <table>
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ cpu.marca }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ cpu.modelo }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>{{ cpu.serial }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cpu.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cpu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cpu_edit', { 'id': cpu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
