{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cpu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ cpu.marca }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ cpu.modelo }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>{{ cpu.serial }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ cpu.codigo }}</td>
            </tr>
        </tbody>
    </table>
    <ul>     
        <a class="btn boton_crear" href="{{ path('cpu_edit', { 'id': cpu.id }) }}">Editar</a>
        <a href="{{ path('cpu_index') }}">Volver a la lista</a>
    </ul>
{% endblock %}
