{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Tipos equipos</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoEquipo in tipoEquipos %}
            <tr>
                <td><a href="{{ path('tipoequipo_show', { 'id': tipoEquipo.id }) }}">{{ tipoEquipo.nombre }}</a></td>
                <td>
                    <ul>
                        <li class="btn boton_crear">
                            <a href="{{ path('tipoequipo_show', { 'id': tipoEquipo.id }) }}">Ver</a>
                        </li>
                        <li class="btn boton_crear">
                            <a href="{{ path('tipoequipo_edit', { 'id': tipoEquipo.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn boton_crear" href="{{ path('tipoequipo_new') }}">Crear Nuevo</a>
     
{% endblock %}
