{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de memoria ram</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memoriaRam in memoriaRams %}
            <tr>
                <td><a href="{{ path('memoriaram_show', { 'id': memoriaRam.id }) }}">{{ memoriaRam.descripcion }}</a></td>
                <td>
                    <ul>
                        <li class="glyphicon glyphicon-eye-open btn boton_comun">
                            <a href="{{ path('memoriaram_show', { 'id': memoriaRam.id }) }}">Ver</a>
                        </li>
                        <li class="glyphicon glyphicon-pencil btn boton_comun">
                            <a href="{{ path('memoriaram_edit', { 'id': memoriaRam.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a  class="btn boton_crear" href="{{ path('memoriaram_new') }}">Crear Nuevo</a>
{% endblock %}
