{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Procesadores</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for procesador in procesadors %}
            <tr>
                <td><a href="{{ path('procesador_show', { 'id': procesador.id }) }}">{{ procesador.descripcion }}</a></td>
                <td>
                    <ul>
                        <li class="btn boton_crear">
                            <a href="{{ path('procesador_show', { 'id': procesador.id }) }}">Ver</a>
                        </li>
                        <li class="btn boton_crear">
                            <a href="{{ path('procesador_edit', { 'id': procesador.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn boton_crear" href="{{ path('procesador_new') }}">Crear Nuevo</a>
        </li>
    </ul>
{% endblock %}
