{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Áreas </h1>

    <table class="table table-striped table-bordered table-ho">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': area.id }) }}">{{ area.nombre }}</a></td>
                <td>
                    <ul>
                        <li>                        
                            <a class="glyphicon glyphicon-eye-open btn boton_comun" href="{{ path('area_show', { 'id': area.id }) }}"></a>
                        </li>
                        <li >
                            <a  class="glyphicon glyphicon-pencil btn boton_comun" href="{{ path('area_edit', { 'id': area.id }) }}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn boton_crear" href="{{ path('area_new') }}">Crear Nuevo</a>    
{% endblock %}
