{% extends 'base.html.twig' %}

{% block body %}
    <h1> Lista de Sistemas operativos</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Bytes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sistemaOperativo in sistemaOperativos %}
            <tr>
                <td><a href="{{ path('sistemaoperativo_show', { 'id': sistemaOperativo.id }) }}">{{ sistemaOperativo.descripcion }}</a></td>
                <td>{{ sistemaOperativo.bytes }}</td>
                <td>
                    <ul>
                        <li class="btn boton_crear">
                            <a href="{{ path('sistemaoperativo_show', { 'id': sistemaOperativo.id }) }}">Ver</a>
                        </li>
                        <li class="btn boton_crear">
                            <a href="{{ path('sistemaoperativo_edit', { 'id': sistemaOperativo.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn boton_crear" href="{{ path('sistemaoperativo_new') }}">Crear Nuevo </a>      
{% endblock %}
