{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Monitores</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial</th>
                <th>Pulgadas</th>
                <th>Ocupado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for monitor in monitors %}
            <tr>
                <td><a href="{{ path('monitor_show', { 'id': monitor.id }) }}">{{ monitor.marca }}</a></td>
                <td>{{ monitor.modelo }}</td>
                <td>{{ monitor.serial }}</td>
                <td>{{ monitor.pulgadas }}</td>
                <td>{% if monitor.ocupado %}Si{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li class="btn boton_crear ">
                            <a href="{{ path('monitor_show', { 'id': monitor.id }) }}">Ver</a>
                        </li>
                        <li  class="btn boton_crear" >
                            <a href="{{ path('monitor_edit', { 'id': monitor.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn boton_crear" href="{{ path('monitor_new') }}">Crear Nuevo monitor</a>
{% endblock %}
